@import '../../styles/global.scss';

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &-wrapper {
    margin-top:10px;
    background: white;
    width:30%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    button {
      padding: 10px;
      outline: none;
      border: none;
      border-top: 2px solid $color-main;
      transition: .5s;

      &:hover {
        color:$color-second;
        background: $color-main;
        border:1px solid $color-second;
      }
    }
  }
}