@import '../../styles/variables.scss';

.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid $color-second;
  transition: .5s;

  &__text {
    color:$color-second;
    text-decoration: none;
    padding: 13px;
    font-size: 20px;
    font-weight: 500;
    &:hover {
      color:black;
      font-weight: 700;
    }
  }
  &:hover {
    background: $color-second;
    border:none;
  }
}

.left {
  position: absolute;
  top:19px;
  left:15px;
}
.right {
  position: absolute;
  top:19px;
  right:15px;
}